---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
---

<Layout metadata={{ title: 'Contact' }}>
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Contact Form Component ******************* -->
  <form id="contactForm">
    <ContactUs
      id="form"
      title="Drop us a message today!"
      subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking for right there! If not, our support team is delighted to help you."
      inputs={[
        { type: 'text', name: 'name', label: 'Name' },
        { type: 'email', name: 'email', label: 'Email' },
        { type: 'tel', name: 'mobile', label: 'Mobile' },
      ]}
      textarea={{ name: 'message', label: 'Message' }}
      disclaimer={{
        label: 'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      }}
      description="Our support team typically responds within 24 business hours."
    />
  </form>

  <script>
    document.getElementById('contactForm').addEventListener('submit', async function (event) {
      event.preventDefault(); // Prevent page reload
      
      const form = event.target;
      const formData = new FormData(form);

      try {
        const response = await fetch('/api/contact', {
          method: 'POST',
          body: formData,
        });

        const result = await response.json();
        const messageElement = document.getElementById('responseMessage');

        if (response.ok) {
          messageElement.textContent = result.success;
          messageElement.style.color = 'green';
          form.reset();
        } else {
          messageElement.textContent = result.error;
          messageElement.style.color = 'red';
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });
  </script>

  <!-- Features2 Widget ************** -->
  <Features2 id = "office"
    title="We are here to help!"
    items={[
      { title: 'General support', description: 'Chat with us for account issues, payment problems, or general questions.' },
      { title: 'Contact sales', description: 'Ask us about purchases, customization options, and licensing.' },
      { title: 'Technical support', description: 'Need help with installation, editing issues, or compatibility problems?' },
      { title: 'Phone', description: '+91 89196 50382', icon: 'tabler:headset' },
      { title: 'Email', description: 'support@unifinity.com', icon: 'tabler:mail' },
      { title: 'Location', description: '1234 Lorem Ipsum St, 12345, Miami, EEUU', icon: 'tabler:map-pin' },
    ]}
  />
</Layout>
